/* public/styles/index.css */

.Index{
    background-color: #e0e0f1;
    margin: 50px auto;
}

.Index header .inner{
    display: grid;
    grid-template-columns: 25% auto 25%;
    align-items: center;
    text-align: center;
    padding: 30px 20px;
}

.Index header .inner .date{
    text-align: left;
    font: 18px/1.5 Oswald, Bayon;
    color: var(--link);
}

.Index header .inner .title{
    font: 40px/1.5 StardosStencil, Koulen;
}

.Index header .inner .title .description{
    font: 18px/1 Courgette, Bayon;
    color: var(--link);
}

.Index header .inner form{
    display: grid;
    grid-template-columns: 70% 30%;
}

.Index header .inner form input{
    font: var(--bordy-font);
    padding: 1px 5px;
}

.Index footer{
    text-align: center;
    padding: 50px 0;
    background: silver;
}

@media only screen and (max-width: 600px){
    .Index{
        margin-top: 0; 
    }

    .Index header .inner{
        grid-template-columns: 100%;
        padding: 10px;
    }

    .Index header .inner .date{
        text-align: center;
    }

    .Index header .inner form{
        padding-top: 10px;
    }

    .Index .feature{
        display: none;
    }
}