/* public/styles/frontend/post.css */

.Post .main{
    padding: 20px;
    display: grid;
    grid-template-columns: 70% auto;
    grid-gap: 20px;
}

.Post .main .content{
    border-right: 1px solid silver;
    padding-right: 20px;
}

.Post .main .content .title{
    font: 20px/1.5 Oswald, Bayon;
    padding-bottom: 20px;
}

.Post .main .content .category{
    color: var(--link);
}

.Post .main .content .category .fb-share-button,
.Post .main .content .category .twitter-share-button{
    float: right;
}

.Post .main .content .category .fb_iframe_widget span {
    vertical-align: baseline !important;
    margin-left: 5px;
}

.Post .main .content .price{
    padding-bottom: 30px;
    color: red;
}

.Post .main .content .post-ad img{
    width: 100%;
}

.Post .main .content .video{
    background: lavender;
}

.Post .main .content .video .screen div{
    position: relative;
    padding-top: 56.25%;
    border-bottom: none;
}

.Post .main .content .video .screen div iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Post .main .content .video .playlist{
    max-height: 405px;
    overflow: auto;
    margin-bottom: 20px;
}

.Post .main .content .video .playlist .part{
    text-align: left;
    padding: 10px;
    color: black;
    display: block;
    height: auto;
    font-size: 16px;
    background: lightgrey;
    border-top: 1px solid white;
}

.Post .main .content .video .playlist .part:last-child{
    margin-bottom: 0;
}

.Post .main .content .video .playlist .part:hover{
    cursor: pointer;
    opacity: .7;
}

.Post .main .content .text-content img{
    width: 100%;
    padding-bottom: 15px;
}

.Post .main .content .text-content{
    font: 14px/1.5 Courgette, HandWriting
}

@media screen and (max-width: 600px){
    .Post .main{
        grid-template-columns: 100%;
    }

    .Post .main .content{
        border-right: none;
        padding-right: 0;
    }
}