/* public/styles/frontend/user.css */

.User .main{
    padding: 20px;
    display: grid;
    grid-template-columns: 70% auto;
    grid-gap: 20px;
}

.User .main .content{
    border-right: 1px solid silver;
    padding-right: 20px;
}

.User .main .content .title{
    font: 20px/1.5 Oswald, Bayon;
    padding-bottom: 20px;
}

.User .main .content .date{
    padding-bottom: 30px;
}

.User .main .content .text-content{
    font: 14px/1.5 Courgette, HandWriting
}

@media screen and (max-width: 600px){
    .User .main{
        grid-template-columns: 100%;
    }

    .User .main .content{
        border-right: none;
        padding-right: 0;
    }
}